body {
  margin: 0;
  font-family: Comic Sans MS, Comic Sans, cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table, th, td {
  background: #282c34;
  padding: 5px;
  border-radius: 10px;
}
table {
  border-collapse: separate;
  border-spacing: 10px;
  background: #999999;
}
.table-header {
  font-weight: bold;
  font-size: calc(10px + 2vmin);
}

